<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/signInForm/css/fragments.css}"/>
</head>
<body>
<div class="footer" th:fragment="footer">
    <p> All rights reserved to Team 6&copy;</p>
</div>

<nav class="navbar" th:fragment="navigationbar(index)">
    <div class="container-fluid">
        <div class="navBox darkGreen" id="navbarCollapse">
            <img src="/img/plantify_Black_on_white-removebg-preview.png" alt="black_on_white_remove_preview">
            <a>About Plantify</a>
        </div>
        <div class="navbar-nav">
            <a th:href="@{/static}" th:class="${index==1}?'nav-item nav-link active':'nav-item nav-link'">Plant List</a>
            <a th:href="@{/templates/dashboard.html}" th:class="${index==2}?'nav-item nav-link active':'nav-item nav-link'">Dashboard</a>
            <a th:href="@{/templates/aboutPlantify.html}" th:class="${index==3}?'nav-item nav-link active':'nav-item nav-link'">About Plantify</a>
        </div>
        <div class="logOut">
            <button id="logOut">Log Out</button>
        </div>
    </div>
</nav>
</body>
</html>