@font-face {
  font-family:SoftClouds-Medium;
  src: url('../img/SoftClouds-Medium.ttf');
}/*import the font family*/

/*CENTER PICTURE ABOVE PLANTLIST*/
#infoContainer{
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

#infoContainer div img{
  width: 40em;
}
/*---------------------------main ------------------------*/
menu{
  display: block;
  width: 80%;
}

:root {
  --width: 20px;
}

body {
  ovewrflow: hidden;
}



.arrow-box .arrow-round {
  position: absolute;
  width: var(--width);
  height: var(--width);
  border: calc(var(--width) / 4) solid #4C7F2E;
  border-radius: 50%;
  border-right-color: transparent;
  transition: transform 1s;
}

.arrow-box .arrow-round::after {
  content: "";
  position: absolute;
  top: -22.5%;
  left: 65%;
  border: calc(var(--width) * 0.5) solid #fff;
  border-bottom-color: #4C7F2E;
  border-left-color: transparent;
  border-top-width: 0;
  border-right-width: 0;
}

.arrow-box:active .arrow-round {
  transform: rotate(1turn) scale(1.2);
}
/**/
body #mainContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#plantContainter{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-top: 1.5em;
  margin-bottom: 15px;
  border: 4px solid #a5c99f;
  border-radius: 50px;
}

.plant{
  border: 3px solid grey;
  border-radius: 35px;
  width: 31%;
  height: 20em;
  margin-top: 10px;
  margin-bottom: 5px;
}

.plant h3{
  padding-left: 5px;
}

.plant p{
  padding-left: 15px;
}
/* --------------------- form -----------------------*/
.arrow-round input{
  border-radius: 50%;
  opacity: 0;
  width: 30px;
  height: 30px;
}