body {
  background-image: url("../img/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: quincy-cf, serif;
  font-weight: 400;
  text-align: center;
  height: 100%;
  margin-bottom: 200px;
}

main{
  margin-top: 10em;
}

h1{
  font-size: 100px;
}

a{
  text-decoration: none;
}
