<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Plantify</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" type="text/css" media="all" href="/css/forms.css" th:href="@{/css/forms.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/aboutPlantify.css"
          th:href="@{/css/aboutPlantify.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/fragments.css" th:href="@{/css/fragments.css}"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" href="https://use.typekit.net/dqy2dee.css">
</head>
<body>
<div th:replace="~{fragments/fragments::navigationbar(3,loggedInOrNot)}"></div>

<main>
    <h1>About Plantify</h1>
    <p>Plantify is the first digital watering system that has a built-in reservoir. <br> It was created to make
        it easier to
        take care of plants by notifying the user that they need to water<br> their plant or that they need to refill
        the
        reservoir. By building an easy-to-understand platform,<br> makes creating an account and installing the device
        an
        easy task.</p>
    <p>The watering system was created using Arduino components and C programming,<br> while the self-watering
        pot is made using 3D printing and connected via Wi-Fi to make Plantify
    </p>
</main>

<div th:insert="~{/fragments/fragments::footer}">All rights reserved to Team 6&copy;</div>
</body>
</html>