<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Plant</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/forms.css" th:href="@{/css/forms.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/fragments.css" th:href="@{/css/fragments.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}">
    </script>
</head>
<body>
<div th:replace="~{fragments/fragments::navigationbar(3)}"></div>
<main>
    <form class="addPlant inputForms" id="form">
        <fieldset>
            <p style="text-align: center">Add plant</p>
            <label><input type="text" id="name" name="name" placeholder="Name" required></label>
            <label for="type"></label>
            <select name="type" id="type">
                <option value="water">Water</option>
                <option value="desert">Desert</option>
                <option value="mountain">Mountain</option>
                <option value="plain">Plain</option>
            </select>
            <!--        <label><input type="text" id="typeInTextForm" name="type" placeholder="Type" required></label>-->
            <label><input type="text" id="arduinoSeries" name="arduinoSeries"
                          placeholder="Enter Arduino Series"></label>
            <label><input type="text" id="physicalAddress" name="psysicalAddress"
                          placeholder="Enter Physical Adress"></label>
            <button class="button" id="createPlant" type="submit">Submit</button>
            <p class="error">Plant already exists!</p>
        </fieldset>
    </form>
</main>
<!--<div class="container">-->
<!--  <div class="container-fluid">-->
<!--    <form method="post" class="was-validated inputForms">-->
<!--      <div class="mb-3 mt-3">-->
<!--        <label for="name" class="form-label" >Plant Name</label>-->
<!--        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>-->
<!--      </div>-->
<!--      <div class="mb-3 mt-3">-->
<!--        <label for="plantType" class="form-label" >Plant Type</label>-->
<!--        <input type="text" class="form-control" id="plantType" placeholder="Enter Net Worth" name="plantType"-->
<!--               required>-->
<!--      </div>-->
<!--      <div class="mb-3 mt-3">-->
<!--        <label for="arduinoSeries" class="form-label">Arduino Series</label>-->
<!--        <input type="text" class="form-control" id="arduinoSeries" placeholder="Enter Net Worth" name="arduinoSeries"-->
<!--               required>-->
<!--      </div>-->
<!--      <div class="mb-3 mt-3">-->
<!--        <label for="physicalId" class="form-label">Physical Address</label>-->
<!--        <input type="text" class="form-control" id="physicalId" placeholder="Enter Net Worth" name="physicalId"-->
<!--               required>-->
<!--      </div>-->
<!--      <input type="submit" class="btn btn-primary" value="Submit"/>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<div th:insert="~{/fragments/fragments::footer}">All rights reserved to Team 6&copy;</div>
</body>
</html>