<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" media="all" href="../static/dashboard.css" type="module" th:href="@{/static/dashboard.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/forms.css" th:href="@{/static/forms.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/fragments.css" th:href="@{/static/fragments.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <script defer th:src="@{js/formvalidation.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script defer type="module" src="js/jsfile.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/dqy2dee.css">
</head>
<body>
<div th:replace="~{fragments/fragments::navigationbar(2)}"></div>

<main>
    <button style="border: transparent; background-color: transparent; color: black; font-weight: bold; font-size: 20px; width: 8em" id="button"
            type="button">+ Add Plant
    </button>
    <form class="addPlant" id="form">
        <fieldset>
            <p style="text-align: center">Add plant</p>
            <label><input type="text" id="name" name="name" placeholder="Name" required></label>
            <label for="type"></label>
            <select name="type" id="type">
                <option value="water">Water</option>
                <option value="desert">Desert</option>
                <option value="mountain">Mountain</option>
                <option value="plain">Plain</option>
            </select>
            <button class="button" id="createPlant" type="submit">Submit</button>
            <p class="error">Plant already exists!</p>
        </fieldset>
    </form>
</main>

<div th:insert="~{fragments/fragments::footer}">All rights reserved to Team 6&copy;</div>
</body>
</html>