<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" media="all" type="text/css" href="/css/dashboard.css" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/forms.css" th:href="@{/css/forms.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/fragments.css" th:href="@{/css/fragments.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <script defer th:src="@{js/formvalidation.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script defer type="module" src="/js/jsfile.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/dqy2dee.css">
</head>
<body>
<div th:replace="~{fragments/fragments::navigationbar(2)}"></div>

<main>
    <div id="mainContainer">

        <menu class="arrow-box">
            <a style="text-decoration:none; color: black; font-weight: bold; font-size: 20px; font-family: quincy-cf, serif"
               id="button2"
               type="button" th:href="@{/removePlant}">- Remove Plant
            </a>
            <a style="text-decoration:none; color: black; font-weight: bold; font-size: 20px; font-family: quincy-cf, serif"
               id="button"
               type="button" th:href="@{/addPlant}">+ Add Plant
            </a>
            <form id="listForm" method="post">
                <div class="arrow-round"> <input type="submit" value="Submit"></div>
            </form>
        </menu>
        <main id="plantContainter">
            <div class="plant">
                <article th:each="plant: ${plants}">
                    <h3>Plant name: <span th:text="${plant.name}"></span></h3>
                    <p>
                        Air Humidity: <span th:text="${plant.details.humidity}"></span> %
                    </p>
                    <p>
                        Temperature:<span th:text="${plant.details.temperature}"> </span> °C
                    </p>
                    <p>

                       Brightness: <span th:text="${plant.details.brightness}"></span> lux
                    </p>
                    <p>
                        Soil Moisture: <span th:text="${plant.details.moisture}"></span> %
                    </p>
                </article>
            </div>
        </main>
    </div>

</main>

<div th:insert="~{fragments/fragments::footer}">All rights reserved to Team 6&copy;</div>

<script>
    const button = document.getElementById('button')
    button.addEventListener('click', event => {
        document.getElementById('form').style.display = 'block'
    })
</script>
</body>
</html>