<!doctype html>
<html class="no-js" lang="">

<head>
    <title>MyPlantify</title>
    <!--<link rel="manifest" href="manifest.json">-->
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" type="text/css" media="all" href="../static/main.css" th:href="@{/static/main.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/index.css" th:href="@{/static/index.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/forms.css" th:href="@{/static/forms.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <script defer th:src="@{js/formvalidation.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script defer type="module" src="js/jsfile.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/dqy2dee.css">
</head>

<body>
<div th:replace="~{fragments/fragments::navigationbar(1)}"></div>

<main>
    <h1>Plantify
        <section style="font-size: 40px">The first digital self watering system <br> to improve your life!</section>
    </h1>
    <a style="text-decoration: none" class="buttonClass" id="redirect" type="button" href="login.html">Sign In</a>
</main>

<div th:insert="~{fragments/fragments::footer}">All rights reserved to Team 6&copy;</div>
</body>

</html>
