<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>MyPlantify</title>
  <link rel="icon" th:href="@{img/logoSimple.png}">
  <link rel="stylesheet"  type="text/css"  th:href="@{css/header.css}">
  <link rel="stylesheet"  type="text/css"  th:href="@{css/index.css}">
   <link rel="stylesheet"  type="text/css"  th:href="@{css/main.css}">
   <link rel="script"   th:href="@{js/plantContainer.js}">
   <link rel="manifest" th:href="@{html/manifest.json}" crossorigin="use-credentials">
   <link rel="stylesheet"  type="text/css"  th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css}">
</head>

<body>
<header>
  <nav>
    <div class="navBox darkGreen">
      <img th:src="@{img/plantify_Black_on_white-removebg-preview.png} " alt="blackPlantifyLogo" >
      <a>About Plantify</a>
    </div>
    <div class="bigNavBox green">
      <div>
        <img th:src="@{img/plantify_Black_on_white.png}">
      </div>
      <div>
        <a th:href="@{index.html}">Plant List</a>
        <a th:href="@{index.html}">Dashboard</a>
        <a th:href="@{index.html}">Log out</a>
      </div>
    </div>
  </nav>
</header>

<div id="infoContainer">
  <div>
    <img th:src="@{img/simpleLogoInverted.png}" alt="plantifyLogo">
  </div>
</div>
<div id="mainContainer">
  <menu class="arrow-box">
    <div class="arrow-round"></div>
  </menu>
  <main id="plantContainter">
    <div class="plant">
      <h3 th:each="plant:${plants}">Plant name: <span th:text="${plant.name}"></span></h3>
        <article>
          <p>
            Humidity: <!--<span th:text="${plant.humidity}">--></span>
          </p>
          <p>
            Temperature:<!--<span th:text="${plant.temperature}">--> </span>
          </p>
          <p>
            Brightness: <!--<span th:text="${plant.brightness}">--></span>
          </p>
          <p>
            Moisture: <!--<span th:text="${plant.moisture}">--></span>
          </p>
        </article>
    </div>
    <div class="plant">
      <h3 class="h3plants">Plant name:</h3>
      <article>
        <p>
          Humidity: 2
        </p>
        <p>
          Temperature:
        </p>
        <p>
          Brightness:
        </p>
        <p>
          Moisture:
        </p>
      </article>
    </div>
    <div class="plant">
      <h3>Plant name:</h3>
      <article>
        <p>
          Humidity: 3
        </p>
        <p>
          Temperature:
        </p>
        <p>
          Brightness:
        </p>
        <p>
          Moisture:
        </p>
      </article>
    </div>

  </main>

</div>
</div>
</body>

</html>
