<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="icon" th:href="@{/img/img/icon.png}">
    <link rel="stylesheet" type="text/css" media="all" href="/css/forms.css" th:href="@{/css/forms.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/fragments.css" th:href="@{/css/fragments.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/fragments.css" th:href="@{/css/login.css}"/>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <script defer th:src="@{js/formvalidation.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script defer type="module" th:src="@{/js/jsfile.js}"></script>
    <link rel="stylesheet" href="https://use.typekit.net/dqy2dee.css">
</head>
<body>
<div th:replace="~{fragments/fragments::navigationbar(2,${loggedInOrNot})}"></div>
<main>
    <form class="createUser inputForms" id="createUser" >
        <fieldset>
            <p style="text-align: center">Sign In</p>
            <label><input type="text" id="email" name="email" placeholder="Email" required></label>
            <label><input type="password" id="password" name="password" placeholder="Password" required></label>
            <button class="button" id="login" type="submit">Log In</button>
            <p class="message" style="font-weight: normal">Don't have an account?
                <a th:href="@{/createUser}" style="color: black">Register</a>
            </p>
            <p class="error">Wrong password or username!</p>
        </fieldset>
    </form>
</main>


<div th:insert="~{fragments/fragments::footer}">All rights reserved to Team 6&copy;</div>
</body>
</html>